<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyWpfProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyDataBase" connectionString="Data Source = localhost\SQLEXPRESS;Database=MyWPFProject;Trusted_Connection=True;" />
	</connectionStrings>
 <userSettings>
  <MyWpfProject.Properties.Settings>
   <setting name="authorization" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="id" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="name" serializeAs="String">
    <value />
   </setting>
   <setting name="surname" serializeAs="String">
    <value />
   </setting>
   <setting name="age" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="email" serializeAs="String">
    <value />
   </setting>
   <setting name="login" serializeAs="String">
    <value />
   </setting>
   <setting name="password" serializeAs="String">
    <value />
   </setting>
  </MyWpfProject.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>